# Ignorar carpetas y archivos de construcción generados por IDEs
build/
dist/
nbproject/build-impl.xml
nbproject/private/
nbproject/project.properties
nbproject/project.xml

# Directorios específicos de NetBeans #
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Archivos compilados #
*.class

# Archivos de paquete #
*.jar
*.war
*.ear
